
.nav-item {
  margin: auto;
  padding-left: 15px;
}

/* =====================================================
_________________/ *Exercise* Tab /__________________
===================================================== */
/* --------------------------------------- */
/* Exercise Table Styling */
/* --------------------------------------- */
* {
   box-sizing: border-box;
 }
 
#myInput {
   /* background-image: url('/css/searchicon.png'); Add a search icon to input */
   background-position: 10px 12px; /* Position the search icon */
   background-repeat: no-repeat; /* Do not repeat the icon image */
   width: 100%; /* Full-width */
   font-size: 16px; /* Increase font-size */
   padding: 12px 20px 12px 20px; /* Add some padding */
   border: 1px solid #ddd; /* Add a grey border */
   margin-bottom: 12px; /* Add some space below the input */
 }
 
 #exercisesTable {
   border-collapse: collapse; /* Collapse borders */
   width: 100%; /* Full-width */
   border: 1px solid #ddd; /* Add a grey border */
   font-size: 18px; /* Increase font-size */
 }
 
 #exercisesTable th, #myTable td {
   text-align: center; /* Left-align text */
   padding: 12px; /* Add padding */
 }
 
 #exercisesTable tr {
   /* Add a bottom border to all table rows */
   border-bottom: 1px solid #ddd;
   padding: 15px;
 }
 
 #exercisesTable tr.header, #exercisesTable tr:hover {
   /* Add a background color to the table header and on hover */
   background-color: #f1f1f1;
 }

 .save-exercise-btn {
  /* background-color: rgba(255, 166, 0, 0.37); */
  border-radius: 25%;
  border: 1px solid #ddd;
  margin-left: 25%;
  width: 50%;
  display: inline-block;
  font-size: 16px;
 }

 /* =====================================================
_________________/ *Workout* Tab /__________________
===================================================== */
/* --------------------------------------- */
/* Workout Table Styling */
/* --------------------------------------- */
.card-deck  {
  padding-bottom: 12px;
  
}

.card-body {
  padding: 5px 5px 0px 5px;
}

.card-title:hover {
  background-color: #f1f1f1;
}

#workout-timestamp {
  font-size: 10px;
}