{% extends 'base.html' %}
{% block content %}


<h1>Exercises</h1>
<!-- <div class="exercises-list">
   <ul>
      {% for exercise in data_exercises %}
      <li class="exercise">
         <a data-id="{{exercise['id']}}" href="/exercise/{{exercise['id']}}">{{exercise['name']}}</a>
         <div>
            <button class="add-exercise-btn" data-id="{{exercise['id']}}">Add to Workout</button>
         </div>
      </li>
      {% endfor %}
   </ul>
</div> -->

<input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search for exercise...">

<div class="exercises-list">
   <table id="exercisesTable">
      <tr class="header">
         <th style="width:60%;">Exercise</th>
         <th hidden style="width:20%;">Category</th>
         <th style="width:20%;">Add Exercise to Workout</th>
      </tr>
      {% for exercise in data_exercises %}
      <tr>
         <td>
            <a data-id="{{exercise['id']}}" href="/exercise/{{exercise['id']}}">{{exercise['name']}}</a>
         </td>
         <td hidden>
            {{exercise['category']}}
         </td>
         <td>
            <button class="add-exercise-btn" data-id="{{exercise['id']}}">Add</button>
         </td>
      </tr>
      {% endfor %}
   </table>
</div>


{% endblock %}