{% extends 'base.html' %}
{% block content %}

<div class="page-title">
   <b>Exercises by {{ name }}</b>
</div>


{% if data %}
{% for exercise in data %}
<div class="list-category">
   <ul>
      <li>
         <a href=""><b>{{ exercise['name'] }}</b></a>
         <!-- <ul>
            <li>
               Description : <p>
                  {{ exercise['description'] }}
               </p>
            </li>
            {% if exercise['equipment']%}
            <li>
               Equipment : {{ exercise['equipment'] }}
            </li>
            {% endif %}
            {% if exercise['variations']%}
            <li>
               Variations : {{ exercise['variations'] }}
            </li>
            {% endif %}
         </ul> -->
      </li>
   </ul>
</div>

{% endfor %}
{% endif %}
{% endblock %}