{% extends 'base.html' %}
{% block content %}

<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="page-header" id="page-title">{{ res['name']}}</h2>
         </div>
      </div>
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck" id="deck-exercises">
               <div class="card" id="card-exercises">
                  <div class="card-body">
                     <div class="card-text">
                        <table class="table table-sm">

                           <tbody class="exercise-card">
                              {% if res['description']%}
                              <tr>
                                 <td>
                                    <h6>Description</h6><i>{{ res['description'] }}</i>
                                 </td>
                              </tr>
                              {% endif %}

                              {% if res['muscles'] %}
                              <tr>
                                 <td>
                                    <h6>Primary Muscle</h6>{{ res['category']['name']}}
                                    <i> - ({{ res['muscles'][0]['name']}})</i>
                                 </td>
                              </tr>
                              {% endif %}

                              {% if res['equipment']%}
                              <tr>
                                 <td>
                                    <h6>Equipment</h6>{{ res['equipment'][0]['name'] }}
                                 </td>
                              </tr>
                              {% endif %}

                              {% if res['variations']%}
                              <tr>
                                 <td>
                                    <a href="/exercise/variations/{{res['variations']}}">See
                                       Variations</a>
                                 </td>
                              </tr>
                              {% endif %}

                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <table>
         <tbody>{% if res['images']%}
            <tr>
               {% for image in res['images'] %}
               <td> <img class="show-exercise-image" src="{{ image.image }}" alt=""></td>
               {% endfor %}
            </tr>
            {% endif %}
         </tbody>
      </table>
   </div>
</div>

<a id="page-navigation-btn" href="/exercises"">Back</a>
{% if res['id'] not in myExercises %}
<a href=" /exercise/{{ res['id']}}/save" id="page-navigation-btn">Save Exercise</a>
{% else %}
<i class="already-saved">Already saved!</i>
{% endif %}

{% endblock %}