{% extends 'base.html' %}
{% block content %}

<h2>{{ res['name']}}</h2>

<div>
   <ul>
      {% if res['description']%}
      <li>
         Description : {{ res['description'] }}
      </li>
      {% endif %}
      {% if res['equipment']%}
      <li>
         Equipment : {{ res['equipment'] }}
      </li>
      {% endif %}
      {% if res['variations']%}
      <li>
         Variations : {{ res['variations'] }}
      </li>
      {% endif %}

   </ul>
</div>
<button onclick="history.back()">History Back</button>
<a href="/workout/new" class="save-exercise-btn">Save to MyExercises</a>

{% endblock %}