{% extends 'base.html' %}
{% block content %}


<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h3 class="page-header" id="page-title">New Exercise Log</h3>
            <hr>
         </div>
         <div class="page-navigation">
            <a id="page-navigation-btn" onclick="history.back()">Cancel</a>
         </div>
      </div>


      <form method="POST">

         <div class="row">
            <div class="main-content" id="col-sm-12">
               <div class="card-deck" id="deck-exercises">
                  <div class="card" id="card-exercises">
                     <div class="card-body">
                        <div class="card-text">
                           <table class="table table-sm">
                              <tbody class="exercise-card">
                                 <tr>
                                    <td>
                                       <h5>{{exercise.name}}</h5>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>{% include
                                       "_form.html" %}</td>
                                 </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <button id="page-navigation-btn">Complete Exercise</button>
      </form>

   </div>
</div>
{% endblock %}