{% extends 'base.html' %}
{% block content %}

<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="page-header" id="page-title">Variations</h2>
            <hr>
         </div>
         <div class="page-navigation">
            <a id="page-navigation-btn" onclick="history.back()">Back</a>
         </div>

      </div>
      {% for res in exercises %}
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck" id="deck-exercises">
               <div class="card" id="card-exercises">
                  <div class="card-body">
                     <div class="card-text">
                        <table class="table table-sm">

                           <tbody class="exercise-card">
                              {% if res['images']%}
                              <tr>
                                 <td> {% for image in res['images'] %}<img class="exercise-image"
                                       src="{{ image.image }}" alt="">{% endfor %}</td>
                              </tr>
                              {% endif %}

                              <tr>
                                 <td>
                                    <h5>{{ res['name'] }}</h5>
                                 </td>
                              </tr>

                              {% if res['description']%}
                              <tr>
                                 <td><i>{{ res['description'] }}</i></td>
                              </tr>
                              {% endif %}

                              {% if res['equipment']%}
                              <tr>
                                 <td>
                                    <h6>Equipment:</h6> {{ res['equipment'][0]['name'] }}
                                 </td>
                              </tr>
                              {% endif %}

                              {% if res['muscles'] %}
                              <tr>
                                 <td>
                                    <h6>Primary Muscle:</h6> {{ res['category']['name']}}
                                    <i> - ({{ res['muscles'][0]['name']}})</i>
                                 </td>
                              </tr>
                              {% endif %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>




{% endblock %}