{% extends 'base.html' %}
{% block content %}

{{ workout_ids }}
{{ workouts }}

<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="page-header" id="page-title">My Workouts</h2>
            <hr>

         </div>
         <a href="/workout/new"><small>Create a new workout here!</small></a>
      </div>

      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck">
               <div class="card">
                  <div class="card-body">
                     {% if workouts %}
                     {% for workout in workouts %}
                     <h4 class="card-title">{{workout.name}}</h4>
                     <hr>
                     <!-- <div class="card-text">
                        <table class="table table-sm">
                           <tbody class="workout-card">

                              <tr>

                                 <td>
                                    {{workout.exerciseIDs}}
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </div> -->
                     {% endfor %}
                     {% else %}
                     Create a Workout!
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

{% endblock%}