{% extends 'base.html' %}
{% block content %}

<!-- {{ workout_ids }}
{{ workouts }} -->

<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="page-header" id="page-title">My Workouts</h2>
            <hr>
         </div>
         <div class="page-navigation">
            <a id="page-navigation-btn" href="/workout/new">New Workout</a>
         </div>

      </div>

      {% if workouts %}
      {% for workout in workouts %}
      <div class="row">
         <div class="main-content" id="col-sm-12">

            <div class="card-deck">
               <div class="card">
                  <div class="card-body">

                     <div class="card-text">
                        <table class="table table-sm">
                           <thead>
                              <th style="width:90%;"></th>
                              <th style="width:5%;"></th>
                              <th style="width:5%;"></th>
                           </thead>
                           <tbody class="workout-card">

                              <tr>
                                 <td>
                                    <a href="/workout/{{ workout.id }}">
                                       <h5 class="card-title">{{workout.name}}</h5>
                                    </a>
                                    <p id="workout-timestamp">{{workout.timestamp.strftime('%d %B %Y')}}</p>
                                 </td>
                                 <td>
                                    <a href="/workout/{{ workout.id }}/edit"><small>Edit</small></a>
                                 </td>

                                 <td>
                                    <a href="/workout/{{ workout.id }}/delete"><small>Delete</small></a>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
            </div>

         </div>
      </div>
      {% endfor %}
      {% else %}

      <h4>You have no workouts yet.</h4>

      {% endif %}
   </div>
</div>
</div>
{% endblock%}