{% extends 'base.html' %}
{% block content %}

<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="page-header" id="page-title">Workout</h2>
            <hr>
         </div>
      </div>
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck">
               <div class="card">
                  <div class="card-body">
                     <small class="workout-title">Monday</small>
                     <div class="card-text" id="workout-session">
                        <a href="/user/workout/id">
                           <h4>{ workout.name }</h4>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck">
               <div class="card">
                  <div class="card-body">
                     <small class="workout-title">Tuesday</small>
                     <div class="card-text" id="workout-session">
                        <a href="/user/workout/id">
                           <h4>{ workout.name }</h4>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck">
               <div class="card">
                  <div class="card-body">
                     <small class="workout-title">Wednesday</small>
                     <div class="card-text" id="workout-session">
                        <a href="/user/workout/id">
                           <h4>{ workout.name }</h4>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck">
               <div class="card">
                  <div class="card-body">
                     <small class="workout-title">Thursday</small>
                     <div class="card-text" id="workout-session">
                        <a href="/user/workout/id">
                           <h4>{ workout.name }</h4>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

{% endblock %}