{% extends 'base.html' %}
{% block content %}


<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2>{workout.name}</h2>
            <hr>
         </div>
      </div>
      <div class="main-content" id="col-sm-12">

         <table class="user-exercises">
            <tbody>
               <tr>
                  <td>
                     workout.exercise_id[1]
                  </td>
                  <td>
                     <button class="del del-exercise-btn" data-workout-id="workout.id">&times</button>
                  </td>
               </tr>
               <tr>
                  <td>
                     workout.exercise_id[2]
                  </td>
                  <td>
                     <button class="del del-exercise-btn" data-workout-id="workout.id">&times</button>
                  </td>
               </tr>
               <tr>
                  <td>
                     workout.exercise_id[3]
                  </td>
                  <td>
                     <button class="del del-exercise-btn" data-workout-id="workout.id">&times</button>
                  </td>
               </tr>
               <tr>
                  <td>
                     workout.exercise_id[4]
                  </td>
                  <td>
                     <button class="del del-exercise-btn" data-workout-id="workout.id">&times</button>
                  </td>
               </tr>

            </tbody>
         </table>
         <button>Add Exercise</button>
      </div>
   </div>

</div>
{% endblock %}