{% extends 'base.html' %}
{% block content %}

<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h3>Create a New Workout</h3>
            <hr>
         </div>

      </div>
      <div class="main-content" id="col-sm-12">
         <div id="page-instructions">
            <small><i>
                  Name & add exercises to your new workout.
               </i></small>
         </div>
         <div class="workout-list">
            <form method="POST">
               {% include "_form.html" %}
               <button id="page-navigation-btn" class="save-workout">Save</button>
            </form>
         </div>

         <div class="page-navigation">
            <a id="page-navigation-btn" href="/">Cancel</a>
            <a id="page-navigation-btn" href="/exercises">Don't see the exercise you want?</a>
         </div>

      </div>
   </div>
</div>


{% endblock %}