{% extends 'base.html' %}
{% block content %}



<div id="main">
   <div class="container pt-4">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="page-header" id="page-title">{{workout.name}}</h2>
            <hr>
         </div>
         <div class="page-navigation">
            <a id="page-navigation-btn" href="/workout/{{workout.id}}/edit">Edit</a>
            <a id="page-navigation-btn" href="/">My Workouts</a>
         </div>
      </div>

      {% for exercise in my_exercises %}
      <div class="row">
         <div class="main-content" id="col-sm-12">
            <div class="card-deck" id="deck-exercises">
               <div class="card" id="card-exercises">
                  <div class="card-body">
                     <div class="card-text">
                        <table class="table table-sm">
                           <tbody class="exercise-card">
                              <tr>
                                 <td>
                                    <a href="/exercise/{{exercise.dataID}}">
                                       <h5>{{exercise.name}}</h5>
                                    </a>
                                 </td>
                                 <td>
                                    <div class="page-navigation">
                                       <a id="page-navigation-btn" href="/track/{{workout.id}}/{{exercise.id}}">Log
                                          Exercise</a>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {%endfor%}
   </div>
</div>
{% endblock %}